@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Montserrat:wght@300;400;500;600&display=swap");
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.color-primary {
  background: #512c96;
}

.color-secondary {
  background: #ff5151;
}

.color-accent {
  background: #f69314;
}

.color-black {
  background: #41444b;
}

.text-primary, .text-primary * {
  color: #512c96;
}

.text-secondary, .text-secondary * {
  color: #ff5151;
}

.text-accent, .text-accent * {
  color: #f69314;
}

.text-white, .text-white * {
  color: #fff;
}

.text-black, .text-black * {
  color: #41444b;
}

.font-comfortaa {
  font-family: "Comfortaa", sans-serif;
}

.font-montserrat {
  font-family: "Montserrat", sans-serif;
}

.btn {
  border-radius: 100px;
  font-weight: bold;
  text-transform: unset;
}
.btn.btn-narrow {
  padding: 7px 20px;
}

a.icon-btn.btn-floating {
  border-radius: 100%;
}
a.icon-btn.btn-floating:not(:last-child) {
  margin-right: 5px;
}
a.icon-btn .fa, a.icon-btn .fab, a.icon-btn .fal, a.icon-btn .far, a.icon-btn .fas {
  width: 30px;
  height: 30px;
  line-height: 30px !important;
  padding: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  font-size: 16px;
  background: rgba(0, 0, 0, 0.1);
  color: #555;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}
a.icon-btn .fa:hover, a.icon-btn .fab:hover, a.icon-btn .fal:hover, a.icon-btn .far:hover, a.icon-btn .fas:hover {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}
a.icon-btn.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.md-form label {
  color: #41444b;
}

.md-form select {
  border: navajowhite;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  padding: 0.6rem 0 0.4rem 0;
  height: unset;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("/assets/images/arrow-down.svg");
  background-position: right 5px center;
  background-size: 10px;
}

.md-form select:focus {
  border: 0;
  border-bottom: 1px solid #4285f4;
  outline: 0;
  box-shadow: 0 1px 0 0 #4285f4;
}

div[contenteditable=true] {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ced4da;
  border-radius: 0;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

div[contenteditable=true]:focus {
  border-bottom: 2px solid #4285f4;
  -webkit-box-shadow: 0 1px 0 0 #4285f4;
  box-shadow: 0 1px 0 0 #4285f4;
}

div[contenteditable=true][placeholder]:empty:before {
  content: attr(placeholder);
  color: #9c9c9c;
}

.datepicker {
  position: relative !important;
  top: 0 !important;
}

/*Bootstrap Calendar*/
body {
  margin: 0;
  padding: 0;
  background: #f5f7fa;
}

* {
  color: #41444b;
}

.notifier-container {
  z-index: 10000000;
  direction: ltr;
}

.notifier-container .notifier {
  border-left-width: 10px;
}

.notifier-container .notifier-title {
  font-weight: 600;
  color: #777;
}

.notifier-container .notifier-body {
  font-weight: 400;
  color: #000;
}

.swal-modal .swal-text {
  text-align: center;
}

.avatar {
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 100%;
  background: #eee;
}

.container-fluid {
  padding-bottom: 15px;
  margin-top: 80px !important;
  box-sizing: border-box;
  width: 100%;
}

.responsive-table {
  overflow-x: auto;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}
.responsive-table table thead tr {
  background: #f69314;
}
.responsive-table table thead tr th {
  color: #fff;
  white-space: nowrap;
}
.responsive-table table th {
  font-weight: 700;
  vertical-align: middle;
  padding: 10px !important;
}
.responsive-table table td {
  font-weight: 500;
  vertical-align: middle;
  padding: 10px !important;
}
.responsive-table table th.actions, .responsive-table table td.actions {
  text-align: center;
}
.responsive-table .dataTables_wrapper table {
  margin-top: 15px;
}
.responsive-table .dataTables_wrapper .dataTables_length label, .responsive-table .dataTables_wrapper .dataTables_filter label {
  font-size: 16px;
}
.responsive-table .dataTables_wrapper .dataTables_length,
.responsive-table .dataTables_wrapper .dataTables_info {
  padding-left: 5px;
}
.responsive-table .dataTables_wrapper .dataTables_filter,
.responsive-table .dataTables_wrapper .dataTables_paginate {
  padding-right: 5px;
}
.responsive-table .dataTables_wrapper input[type=search], .responsive-table .dataTables_wrapper select {
  padding: 5px 15px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  outline: none;
  box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.1);
  transition: background 0.3s ease-in-out;
}
.responsive-table .dataTables_wrapper input[type=search]:hover, .responsive-table .dataTables_wrapper input[type=search]:active, .responsive-table .dataTables_wrapper select:hover, .responsive-table .dataTables_wrapper select:active {
  background: rgba(0, 0, 0, 0.1);
}
.responsive-table .dataTables_wrapper select {
  margin-left: 5px;
  margin-right: 5px;
}
.responsive-table .dataTables_wrapper.form-inline {
  display: unset;
}
.responsive-table .dataTables_wrapper .paginate_button {
  transition: background 0.3s ease-in-out;
  background: #e8e8e8 !important;
  border: none !important;
}
.responsive-table .dataTables_wrapper .paginate_button a {
  color: #555 !important;
  transition: color 0.3s ease-in-out;
}
.responsive-table .dataTables_wrapper .paginate_button:hover {
  background: #8a8a8a !important;
}
.responsive-table .dataTables_wrapper .paginate_button:hover a {
  color: #fff !important;
}
.responsive-table .dataTables_wrapper .paginate_button:disabled, .responsive-table .dataTables_wrapper .paginate_button.disabled {
  opacity: 0.4;
}
.responsive-table .dataTables_wrapper .paginate_button.current {
  background: #a9a9a9 !important;
}
.responsive-table .dataTables_wrapper .paginate_button.current a {
  color: #fff !important;
}

.card {
  margin: 100px auto;
  max-width: 500px;
  box-sizing: border-box;
  padding: 50px;
}

.logo {
  display: block;
  max-width: 150px;
  margin: 20px auto 50px auto;
}
.logo img {
  width: 100%;
}

.btn {
  vertical-align: center;
  font-size: 18px;
  width: 100%;
}
.btn:not(:last-child) {
  margin-bottom: 30px;
}

/*# sourceMappingURL=auth.css.map */
