@import "theme";

body {
    margin: 0;
    padding: 0;
    background: #f5f7fa;
}
* {
    color: $text-black;
}

.notifier-container {
    z-index: 1000;
    direction: ltr;
}
.notifier-container .notifier {
    border-left-width: 10px;
}
.notifier-container .notifier-title {
    font-weight: 600;
    color: #777;
}
.notifier-container .notifier-body {
    font-weight: 400;
    color: #000;
}

.swal-modal .swal-text {
    text-align: center;
}
.avatar {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 100%;
    background: #eee;
}

.container-fluid {
    padding-bottom: 15px;
    margin-top: 80px !important;
    box-sizing: border-box;
    width: 100%;
}