@media only screen and (max-width: 1440px) {
    .sidenav {
        width: 60px;
        overflow: hidden;
        transition: width 0.3s ease-in-out;
        .navbar-brand {
            margin-left: 0;
            margin-right: 0;
            display: none;
        }
        .navbar-brand-sm {
            display: block;
        }
        &.expanded {
            width: 200px;
            .navbar-brand {
                margin-left: 0;
                margin-right: 0;
                display: block;
            }
            .navbar-brand-sm {
                display: none;
            }
            ul li a span {
                display: initial;
            }
        }
    }
    .navbar {
        padding-left: 65px;
        transition: padding 0.3s ease-in-out;
        .navbar-brand {
            display: none !important;
        }
        #toggle-sidenav {
            display: block;
        }
        &.expanded {
            padding-left: 205px;
        }
    }
    .container-fluid {
        padding-left: 75px;
        transition: padding 0.3s ease-in-out;
        &.expanded {
            padding-left: 215px;
        }
    }
}
@media only screen and (max-width: 992px) {
    .navbar {
        padding-right: 0;
        .navbar-nav {
            text-align: right;
            padding-right: 10px;
        }
        .dropdown-menu {
            left: unset;
            right: 0;
        }
    }
}
@media only screen and (max-width: 767px) {
    .page-heading h1 {
        font-size: 24px;
    }
    .navbar {
        padding-left: 0;
        .navbar-brand {
            display: block !important;
        }
    }
    #sidenav-backdrop {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        opacity: 0;
        background: rgba(0, 0, 0, 0.5);
        z-index: 10000;
        backdrop-filter: blur(5px);
        transition: display 0.3s ease-in-out, opacity 0.3s ease-in-out;
    }
    .sidenav {
        display: block;
        width: 200px;
        left: -205px;
        transition: left 0.3s ease-in-out;
        z-index: 10000;

        &.expanded {
            left: 0;
        }
    }
    body[dir=rtl] {
        .sidenav {
            left: unset;
            right: -220px;
            transition: right 0.3s ease-in-out;
            &.expanded {
                right: 0;
            }
        }
    }
    .container-fluid {
        padding-bottom: 10px;
        padding-left: 10px;
    }
}