@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Montserrat:wght@300;400;500;600&display=swap");
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

$primary-color: #512c96;//#fb7813;
$secondary-color: #ff5151;//#0e9aa7;
$accent-color: #f69314;
$text-white: #fff;
$text-black: #41444b;

// Backgrounds
.color-primary {
    background: $primary-color;
}
.color-secondary {
    background: $secondary-color;
}
.color-accent {
    background: $accent-color;
}
.color-black {
    background: $text-black;
}

// Texts
.text-primary, .text-primary * {
    color: $primary-color;
}
.text-secondary, .text-secondary * {
    color: $secondary-color;
}
.text-accent, .text-accent * {
    color: $accent-color;
}
.text-white, .text-white * {
    color: $text-white;
}
.text-black, .text-black * {
    color: $text-black;
}

// Font
.font-comfortaa {
    font-family: 'Comfortaa', sans-serif;
}
.font-montserrat {
    font-family: 'Montserrat', sans-serif;
}

// Buttons
.btn {
    border-radius: 100px;
    font-weight: bold;
    text-transform: unset;
    &.btn-narrow {
        padding: 7px 20px;
    }
}

a.icon-btn {
    &.btn-floating {
        border-radius: 100%;

        &:not(:last-child) {
            margin-right: 5px;
        }
    }

    .fa, .fab, .fal, .far, .fas {
        width: 30px;
        height: 30px;
        line-height: 30px !important;
        padding: 0;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        font-size: 16px;
        background: rgba(0, 0, 0, 0.1);
        color: #555;
        transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
        &:hover {
            background: rgba(0, 0, 0, 0.5);
            color: #fff;
        }
    }

    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}

// Label
.md-form label {
    color: $text-black;
}

// Select input
.md-form select {
    border: navajowhite;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    padding: 0.6rem 0 0.4rem 0;
    height: unset;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("/assets/images/arrow-down.svg");
    background-position: right 5px center;
    background-size: 10px;
}
.md-form select:focus {
    border: 0;
    border-bottom: 1px solid #4285f4;
    outline: 0;
    box-shadow: 0 1px 0 0 #4285f4;
}

// Textarea
div[contenteditable=true] {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ced4da;
    border-radius: 0;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
div[contenteditable=true]:focus {
    border-bottom: 2px solid #4285f4;
    -webkit-box-shadow: 0 1px 0 0 #4285f4;
    box-shadow: 0 1px 0 0 #4285f4;
}
div[contenteditable=true][placeholder]:empty:before {
    content: attr(placeholder);
    color: #9c9c9c;
}

.datepicker {
    position: relative !important;
    top: 0 !important;
}