@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Montserrat:wght@300;400;500;600&display=swap");
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

$primary-color: #512c96;//#fb7813;
$secondary-color: #ff5151;//#0e9aa7;
$accent-color: #ffc93c;
$text-white: #fff;
$text-black: #41444b;

// Backgrounds
.color-primary {
    background: $primary-color;
}
.color-secondary {
    background: $secondary-color;
}
.color-accent {
    background: $accent-color;
}
.color-black {
    background: $text-black;
}

// Texts
.text-primary, .text-primary * {
    color: $primary-color;
}
.text-secondary, .text-secondary * {
    color: $secondary-color;
}
.text-accent, .text-accent * {
    color: $accent-color;
}
.text-white, .text-white * {
    color: $text-white;
}
.text-black, .text-black * {
    color: $text-black;
}

// Font
.font-comfortaa {
    font-family: 'Comfortaa', sans-serif;
}
.font-montserrat {
    font-family: 'Montserrat', sans-serif;
}

// Buttons
.btn {
    border-radius: 100px;
    font-weight: bold;
    text-transform: unset;
    &.btn-narrow {
        padding: 7px 20px;
    }
}